@charset "utf-8";
/* CSS Document */

.migalha{display:inline-block; margin:0px 10px;}
.migalha a{ color:#999;}
.migalha a:hover { color:#555;}
#id-Breadcrumb{ border-bottom:1px solid #999;}

#boxSobreEstab{ background:#EBF5FF; width:125px; height:200px; padding:20px 12.5px;  margin:0px auto;}
#boxSobreEstab div.marca{width:115px; height:115px; border:1px solid #06C; background:#fff!important;}
#boxSobreEstab p{ text-align:center; font-size:12px; font-family:'titilliumtext22l_ltthin'; color:#F30; line-height:36px;}
#boxSobreEstab div{ text-align:left!important; font-size:13px!important; font-family:'titilliumtext22l_ltthin'; color:#06c!important; line-height:20px!important;}
#boxSobreEstab div a{ color:#06c!important;}
#boxSobreEstab div a:hover{ color:#06c!important; font-family: 'titilliumtext22l_ltmedium';}
#boxSobreEstab div#ranking{color:#900!important;font-family: 'titilliumtext22l_ltmedium'!important; font-size:12px!important; text-align:center!important; padding-left:20px!important; }
#boxSobreEstab div#ranking .medalha{background-position:-104px -123px; height:45px; width:30px;}
#boxSobreEstab div#ranking span{font-size:24px!important;}

.ftoLocal{width:150px; height:auto;  margin:30px auto;}
.ftoLocal span.ftoGrande{ width:150px; height:79px; background:#000; display:block; margin-bottom:20px; overflow:hidden;}
.ftoLocal span.ftoPeq{ width:65px; height:65px; background:#000; display:block;}

.boxInfo{ background:#ebf5ff; border:1px solid #CCCCEB; /*width:567px;*/ height:15px; padding:10px; color:#0066CC; font-family:'titilliumtext22l_ltmedium'; font-size:12px; line-height:20px; clear:both;}
.boxInfo a{ color:#0066CC;}
#listagem .boxInfo{ margin:10px;}
#listagem li{ position:relative;}
#listagem li div.sessao{position:absolute; right:10px; top:10px; z-index:999; line-height:20px; font-size:12px; font-family:'titilliumtext22l_ltthin'; color:#ffc42b;}
#destaque blockquote{ width:580px; margin-left:10px; margin-top:20px; clear:both;}


#outroDados{border-top:1px solid #0066CC; width:570px; min-height:60px; clear:both; padding:20px 10px; height:auto; margin-top:20px;}
#outroDados .titOtherInfo{font-size:12px!important; color:#06C!important; font-family: 'titilliumtext22l_ltmedium'!important; text-transform:uppercase; text-decoration:underline; margin-bottom:20px!important;}
#outroDados p{font-size:12px; color:#000; font-family: 'titilliumtext22l_rgregular'; overflow:hidden; margin-bottom:10px;}
#outroDados ul{width:100%; margin-bottom:10px;}
#outroDados li{float:left; width:170px; margin:0px 10px;}

address{ font-style:normal; color:#fff; background:#0066CC; padding:10px 20px!important; width:550px; height:15px; display:block; font-size:12px!important; font-family:'titilliumtext22l_ltmedium'!important; clear:both; margin-bottom:5px;}
#comentarioFb{width:600px; height:auto; margin-top:20px;}
#comentarioFb p.tituloComent{font-size:24px; color:#F30; font-family: 'titilliumtext22l_ltmedium';}

#tituloSessao{ margin-left:10px; margin-bottom:30px; height:auto; width:auto;}
#tituloSessao h2{ color:#FFC414; font-size:24px; font-family:'titilliumtext22l_xbbold';}
#tituloSessao p{ color:#333; font-size:12px; font-family:'titilliumtext22l_ltthin'; margin-left:25px; clear:both;}

#map_canvas_estab{width:588px; height:250px; border:1px solid #ccc;}
#listagem li{-webkit-transition: .3s;	-moz-transition: .3s;	-ms-transition: .3s;	-o-transition: .3s;	transition: .3s;	}
ul#listagem li:hover {
	/*border: 5px solid white;
	
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	box-shadow: 0 0 10px rgba(0,0,0,.3);*/
	cursor:pointer;
	opacity: 1;
	filter: alpha(opacity=100);
}
ul#listagem:hover li:not(:hover) {
	opacity: .3;
	filter: alpha(opacity=30);
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}


#conteudoRanking{ width:780px; float:left; height:auto; overflow:hidden; margin-bottom:25px;}
.coluna{ width:365px; height:auto; background:##FFFFE5; padding-bottom:15px; float:left; margin-right:25px; background:#F5F5F5;}
.coluna h2{ text-align:center;font-family: 'titilliumtext22l_rgregular'; font-size:14px; color:#fff; background:#FF7100; padding:5px;}
.coluna .boxRanking{ width:300px; min-height:100px; border:1px solid #FFC2CC; background:#FFE8AB; padding:50px 10px 30px 10px; position:relative; margin:20px auto 0px auto;}
.coluna .boxRanking span.imgRank{ display:block; width:180px; height:79px; float:left; margin-right:10px; overflow:hidden;}
.coluna .boxRanking span.imgRank img{ width:180px; height:79px;}

.coluna .info{font-family: 'titilliumtext22l_rgregular';}
.coluna .info .titulo{ font-size:12px; margin-bottom:10px; color:#F30;}
.coluna .info .dados{ font-size:11px; line-height:14px; color:#333;}
.coluna .indico{ position:absolute; bottom:5px; right:10px; color:#F30; text-align:left;  font-family: 'titilliumtext22l_ltmedium'; font-size:10px; line-height:23px;}
.coluna .indico p {float:left; margin-left:20px;}

.coluna .indico a{color:#F30;}
/*.coluna .indico:hover a{color:#333;}
.coluna .indico a span.indicacaoRed:hover{ background-position:-180px -120px;}
.coluna .indico a span.naoindicacaoRed{ background-position:-284px -128px;}*/
.coluna .position5,
.coluna .position4,
.coluna .position3,
.coluna .position2,
.coluna .position1{ display:block; position:absolute; top:5px; right:5px; width:32px; height:41px; background-image:url(../img/spriteIcons.png); background-repeat:no-repeat;}

.coluna .position5{ background-position:-328px -125px;}
.coluna .position4{ background-position:-360px -125px;}
.coluna .position3{ background-position:-360px -84px;}
.coluna .position2{ background-position:-360px -42px;}
.coluna .position1{ background-position:-360px 0px;}

.boxSubCat .fontYi,
.boxSubCat .categoria{color:#333;}

.boxSubCat p.indicacaoComida a{ margin:5px 0px; font-family: 'titilliumtext22l_ltmedium'; font-size:14px; color:#333;}


#paginacao{ min-width:380px; margin: 20px auto; height:30px; padding:0px 5px;font-family: 'titilliumtext22l_ltmedium'; font-size:14px;}
#paginacao .inicio,
#paginacao .pagina,
#paginacao .fim{ width:20px; height:20px; display:block; margin:5px; float:left; padding:5px; text-align:center; cursor:pointer;}

#paginacao .pagina{ color:#5b5b5b;}

#paginacao .inicio,
#paginacao .fim{ background:#06c;}
#paginacao .pagina{ background:#d6d6d6;}
#paginacao .pagina:hover{background:#efefef;}

#colunaMapa{position:relative; width:350px; float:right;}

ul#listagemCat li{ border-bottom:1px solid #ccc; overflow:hidden;margin-bottom:20px;}

#listagemCat .boxInfoCat ul{ margin:10px 0px; background:#ebf5ff; border:1px solid #CCCCEB; /*width:567px;*/ height:20px; padding:10px; color:#0066CC; font-family:'titilliumtext22l_ltmedium'; font-size:12px; line-height:20px; clear:both;}

#listagemCat .boxInfoCat ul li{float:left; border:none!important; margin:0px 15px;}

#listagemCat .boxInfoCat p.titulo{color: #0066CC; font-family: 'titilliumtext22l_rgbold'; font-size: 15px; line-height: 18px;}

#listagemCat .boxInfoCat a,

#listagemCat .boxInfoCat a:visited{color: #0066CC;    font-family: 'titilliumtext22l_ltmedium';    font-size: 12px;    line-height: 20px;}

.votacao{ width:180px; border-top:1px dotted #900; height:auto; padding:5px 0px; margin-top:10px;}

.votacao a{font-family: 'microsoft_yi_baitiregular'; font-size:14px; color:#900; display:block; line-height:25px;}

.votacao a:hover{text-decoration:underline;}