<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

	<session-factory>
		
		<property name="current_session_context_class">thread</property>

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/zapeat</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">nayara</property>

		<property name="hibernate.show_sql">true</property>


 		<mapping class="br.com.zapeat.site.model.Banner" />
 		<mapping class="br.com.zapeat.site.model.Categoria" />
		<mapping class="br.com.zapeat.site.model.Comentario" />
 		<mapping class="br.com.zapeat.site.model.Cidade" />
 		<mapping class="br.com.zapeat.site.model.Estado" />
 		<mapping class="br.com.zapeat.site.model.Fornecedor" />
 		<mapping class="br.com.zapeat.site.model.Grupo" />
 		<mapping class="br.com.zapeat.site.model.ImagemPromocao" />
 		<mapping class="br.com.zapeat.site.model.Menu" />
 		<mapping class="br.com.zapeat.site.model.Permissao" />
 		<mapping class="br.com.zapeat.site.model.Promocao" />
 		<mapping class="br.com.zapeat.site.model.TipoPromocao" />
 		<mapping class="br.com.zapeat.site.model.TipoBanner" />
 		<mapping class="br.com.zapeat.site.model.Usuario" />
 

	</session-factory>

</hibernate-configuration>
	
